@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  /* transform:  ; */
  /* text-transform: capitalize; */
  /* width: fit-content; */
  /* width: calc(); */
  /* color: :transparent; */
}

.fex {
  border: 1px solid red;
}
.fex2 {
  border-radius: 55px 0px 0px 8px;
  position: relative;

  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    width: 29px;
    height: 100px;
    background-color: #f7f7f8;
    top: -19px;
    left: 3px;
    transform: rotateZ(31deg);
    /* z-index: 1; */
  }
}

.App {
  padding-bottom: "333px";
}

.word {
  color: #f7f7f8;

  font-weight: bold;

  width: 100%;
  overflow: hidden;
  height: 40px;

  animation: sss infinite 10s 1s linear;
  overflow: hidden;
}
.Swiper-one .swiper-button-prev,
.Swiper-one .swiper-button-next {
  width: 30px;
  height: 30px;
  margin-right: -10px;
  background-color: black;
  transition: 0.3s;
}

.Swiper-one .swiper-button-prev::after,
.Swiper-one .swiper-button-next::after {

  content: url("/assets/SVG/arrow-right-solid.svg");

  width: 16px;
  height: 55px;
  top: -15px;
  left: 13px;

  position: absolute;


}
.Swiper-one .swiper-button-prev::after {
  transform: rotateY(180deg);
  left: 1px;
}
.Swiper-one .swiper-button-prev {
  left: 1px;
  transform: translateX(-35px);
}
.Swiper-one .swiper-button-next {
  transform: translateX(35px);
}

@keyframes sss {
  0% {
    /* width: 0%; */
    transform: translateX(102%);
  }

  100% {
    transform: translateX(-102%);
  }
}

.ffff {
  position: relative;
  border-top: 2px solid #999;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 35px;
    top: -21px;
    background-color: rgba(255, 255, 255, 0.753);
    /* background-color: rgba(55, 26, 185, 0.562); */
  }
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    top: -10px;
    background-color: rgba(255, 255, 255, 0.808);
    /* background-color: rgba(179, 17, 17, 0.664); */
  }
}

/* .tt{
  display: flex;
  justify-content: center;
  align-items: center;
  
} */